.add-shopify-container .ant-form-item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 11px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum", "tnum";
  margin-bottom: 12px;
  vertical-align: top;
}

.add-shopify-container .ant-form label {
  font-size: 14px !important;
  font-weight: 600 !important;
}

.btn-shopify-ok {
  background: #ef4444 !important;
  color: white !important;
  border-radius: 6px !important;
  display: flex !important;
  width: 50%;
  justify-content: center;
  margin: 16px 0px 10px;
  align-items: center !important;
  border: 1px solid transparent !important;
}

.add-shopify-container .ant-form-vertical .ant-form-item-label {
  padding: 0 0 3px !important;
  line-height: 1.5715;
  white-space: initial;
  text-align: left;
}
