#wrapper_inner span {
  position: absolute;
  left: 3rem;
  opacity: 0;
  transform: translateX(0);
  transition: all 0.2s ease-out;
  transition-delay: 100ms;
  pointer-events: none;
}

#wrapper_inner a:hover span {
  left: 10%;
  opacity: 1;
  transform: translateX(5rem);
}
