.track-order .ant-timeline-item-tail {
  position: absolute;
  top: 25px;
  left: 4px;
  height: calc(100% - 10px);
  border-left: 2px dotted #e2e2e2;
}

.track-order .ant-timeline-item-head-custom {
  background-color: transparent !important;
}
