/* .one {
  background: url(https://cdn.pixabay.com/photo/2016/11/05/20/50/decorative-1801462_960_720.png);
} */

.retailer-support-page .ant-form label {
  font-size: 14px !important;
  font-weight: 600 !important;
  color: #6b7280 !important;
}
