.product-category {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* row-gap: 5px; */
  grid-gap: 8px;
  /* margin: 5px; */
}

.single-category {
  background: white;
  padding: 8px;
  border-radius: 4px;
  margin-left: 5px;
  min-width: 200px;
  text-align: center;
}

.single-category img {
  margin: auto;
}

.product-search .ant-form-vertical .ant-form-item-label > label {
  font-size: 13px !important;
  color: #6b7280 !important;
  height: auto;
}

.product-search .ant-form-vertical .ant-form-item-label {
  padding: 0 0 4px !important;
}

.product-grid {
  grid-gap: 8px;
  display: grid;
  /* grid-template-columns: 25% 25% 25% 25%; */
  /* max-width: 1280px; */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
