.ant-table.ant-table .ant-table-thead .ant-table-filter-column-title {
  padding: 8px 2.3em 8px 8px !important;
  font-size: 13px !important;
  font-weight: 600 !important;
  color: #3f7e80 !important;
}
.ant-table.ant-table .ant-table-tbody > tr > td {
  font-size: 13px !important;
}

.ant-table.ant-table .ant-table-thead > tr > th {
  font-size: 13px !important;
  font-weight: 600 !important;
  color: #3f7e80 !important;
}

.ant-collapse-borderless {
  background-color: #fff !important;
  border-radius: 6px !important;
}
.ant-collapse-borderless > .ant-collapse-item:last-child,
.ant-collapse-borderless > .ant-collapse-item:last-child .ant-collapse-header {
  /* border-radius: 8px !important; */
  border: none !important;
}

.inputSearchBox {
  padding: 4px 11px !important;
}

.ant-table.ant-table {
  /* font-size: 14px; */
  border-radius: 8px;
}
