.form {
  padding: 0;
  /* max-width: 300px; */
  color: #272727;
}

.form.item {
  margin: auto;
}

.container {
  margin: auto;
  /* max-width: 100vh; */
}

.inline {
  display: flex;
  justify-content: space-between;
}

h2 {
  color: #272727;
}
