*,
*::before,
*::after {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: "#fff"; */
  background: "#fff";
  /* #edf2f9 */
  /* max-width: 1920px; */

  /* overflow: hidden; */
}

/* svg {
  height: 1.25rem;
  width: 1.25rem;
} */
